<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>

<ul>
  <% @lists.each do |list|  %>
  <li>
    <%= link_to list_path(list) do %>
      <h2><%= list.name %></h2>
      <% end %>
  </li>
  <% end %>

  <%= render 'form', list: @list %>
</ul>


