<div class="ml-5 mt-4">
  <h1 class="">Watch with style 🍸</h1>
  <h4 class="mb-4">Discover our movie selection</h4>
</div>
<div class="carousel-container m-1">
  <div class="carousel">
    <div class="carousel--wrap">
    <% @lists.each do |list|  %>
      <div class="carousel--item">
        <%= link_to list_path(list) do %>
        <figure><img src="https://picsum.photos/seed/<%= list.name %>/500/300" alt="" /></figure>
        <h2><%= list.name %></h2>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="carousel--progress d-none">
      <div class="carousel--progress-bar"></div>
    </div>
  </div>
</div>
<div class="m-5">
  <h4 class="mt-4">Or create your own</h4>
  <div class="w-25 mt-3">
    <%= render 'form', list: @list %>
  </div>
</div>
